.contenedor-titulo-cursos{
    display: flex;
    justify-content: space-between;
}

.tabla-de-cursos{
    margin-top: 20px;
}

.seleccionar-imagen{
    display: flex;
    justify-content: space-between;
}

.imagen-preview{
    width: 65px;
    margin-right: 10px;
}