.contendor-whatsapp{
    position: fixed;
    z-index: 2000;
    bottom: 15px;
    right: 15px;
}

.btn-whatsapp-personalizado{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    transition: all 1s;
}

.btn-whatsapp-personalizado:hover{
    transform: scale(1.1);
}
