.contenedor-titulo-galerias{
    display: flex;
    justify-content: space-between;
}

.targeta-de-galerias{
    position: relative;
    padding: 5px;
}

.targeta-de-galerias:hover{
    box-shadow: 0px 0px 5px 1px rgb(147, 159, 201);
}

.imagen-targeta{
    width: 100%;
    height: 235px;
    margin-bottom: 2px;
}

.opciones-targeta-galeria{
    position: absolute;
    top: 15px;
    right: 15px;
}