.mi-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(7, 7, 7, 0.5);
    z-index: 10;
}

.contenedor-modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content {
    width: 40vw;
    border-radius: 9px;
    padding: 2vh;
    padding-top: 3vh;
    padding-bottom: 4vh;
    background-color: #dbdcdd;
    color: black;
}


.cerrar-modal{
    position: absolute;
    right: -15px;
    top: -15px;
}

.btn-cerrar-modal{
    background: rgb(151, 21, 21);
    color: #fff;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: none;
    box-shadow: rgba(10, 10, 10, 0.938) 0px 0px 5px 2px;
    transition: all 0.5s;
}

.btn-cerrar-modal:focus{
    outline: none;
}

.btn-cerrar-modal:hover{
    transform: scale(1.2);
}

@media (max-width: 800px){
    .modal-content {
        width: 70vw;
    }
}

@media (max-width: 700px){
    .modal-content {
        width: 85vw;
    }
}