.fondo {
  margin: 0;
  min-height: 100vh;
  background-image: url(./images/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fondo:before {
  content: "";
  width: 100%;
  height: 137%;
  position: absolute;
  background: linear-gradient(#222a3f, #222a3f);
  opacity: 0.6;
}

.texto2 {
  color: white;
}
