.estilo {
  background-image: url(./icon/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*.estilo:before {
  content: "";
  width: 100%;
  min-height: 87%;
  position: absolute;

  background: linear-gradient(#222a3f, #222a3f);
  opacity: 0.7;
}*/
.formulario {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  color: white;
}
.form-control {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-style: none;
  transition: 0.5s ease-in;
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  background: none;
  box-shadow: none;
  outline: none;
  color: #fff
}
.form-control::placeholder {
  color: white;
}

.ingresar {
  background: #222a3f;
  padding: 10px;
  font-size: 16px;
  font-weight: 700 !important;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  transition: 0.5s ease-in;
}
.ingresar:hover {
  color: white;
}

.texto1 {
  color: azure;
}
