.bg-color {
  background-color: #0073aa;
}

.texto3 {
  color: white;
}
.margen {
  margin: 0 auto;
}
.padd {
  padding: 100px 0;
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0px;
}
